/* Увеличить базовый размер шрифта на Canvas */
.markdown-source-view.cm-s-obsidian.mod-cm6.node-insert-event.mod-inside-iframe.is-live-preview.is-folding.show-properties
, .canvas-wrapper .markdown-preview-view
, .canvas-wrapper .markdown-preview-view th
, .canvas-wrapper .markdown-preview-view th
, .canvas-wrapper .markdown-preview-section table {
    font-size: calc(var(--font-text-size) * 2.2) !important;
	--table-header-size: calc(var(--font-text-size) * 2.2) !important;
	--table-text-size: calc(var(--font-text-size) * 2.2) !important;
}
