/* Скрываем блоки с тегами в результатах поиска */
.search-result-file-matches {
    display: none;
}

/* Уменьшаем отступы у заголовков заметок */
.search-result-file-title {
    padding: 8px 8px !important;
    margin-top: 0 !important;
}

.search-result-file-tags {
    display: none;
}